# Logging
PROMETHEUS_LOGGING_LEVEL=DEBUG

# General settings
PROMETHEUS_ENVIRONMENT=local
PROMETHEUS_BACKEND_CORS_ORIGINS=["*"]
PROMETHEUS_ENABLE_AUTHENTICATION=false


# Neo4j settings
PROMETHEUS_NEO4J_URI=bolt://neo4j:7687
PROMETHEUS_NEO4J_USERNAME=neo4j
PROMETHEUS_NEO4J_PASSWORD=password
PROMETHEUS_NEO4J_BATCH_SIZE=1000

# Knowledge Graph settings
PROMETHEUS_WORKING_DIRECTORY=working_dir/
PROMETHEUS_KNOWLEDGE_GRAPH_MAX_AST_DEPTH=3
PROMETHEUS_KNOWLEDGE_GRAPH_CHUNK_SIZE=10000
PROMETHEUS_KNOWLEDGE_GRAPH_CHUNK_OVERLAP=1000
PROMETHEUS_MAX_TOKEN_PER_NEO4J_RESULT=10000

# LLM model settings
PROMETHEUS_ADVANCED_MODEL=gpt-4o
PROMETHEUS_BASE_MODEL=gpt-4o

# API keys for various LLM providers
PROMETHEUS_ANTHROPIC_API_KEY=anthropic_api_key
PROMETHEUS_GEMINI_API_KEY=gemini_api_key
PROMETHEUS_OPENAI_FORMAT_BASE_URL=https://api.openai.com/v1
PROMETHEUS_OPENAI_FORMAT_API_KEY=your_api_key

# Model settings
PROMETHEUS_MAX_INPUT_TOKENS=64000
PROMETHEUS_TEMPERATURE=0.3
PROMETHEUS_MAX_OUTPUT_TOKENS=15000

# Database settings
PROMETHEUS_DATABASE_URL=postgresql://postgres:password@postgres:5432/postgres?sslmode=disable

# JWT settings
PROMETHEUS_JWT_SECRET_KEY=your_jwt_secret_key
